<form method="POST">
    {% csrf_token %}
    
    <p>Hello ,<b> {{user.username}} </b> currently loggin with this <b>  {{user.email}} </b>, Now you Edit Excel Emails Here <a href="{% url 'logout' %}">Logout</a></p>
    
        Are you want to delete this item ?
        <table >
        
            <th>Emails</th>
            {% if d1 %}
            {% for i in d1 %}
            <tr>
               
                <td>{{i.value}}</td> 
                <td><a href="{{i.id}}/add">Add</a></td>
                
                
               
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <input type="button" value="Yes" />
        <a href="/">Cancel </a>
</form>