
  
    
<p>Hai ,<b>{{user.username}}</b> ,<b> {{user.id}} </b> , <b>{{user.email}} </b> Excel data <a href="{% url 'logout' %}">Logout</a></p>
    

    

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table >

<th>Emails in Excel Sheet</th>

{% for i in email %}
<tr>

<td>{{i}}</td>



<td><a href="delete/{{i.value}}">Delete</a></td>


</tr>
{% endfor %}
</table>


</form>
&nbsp;
&nbsp;
<p>Add New Emails &nbsp; &nbsp;<a href="add">Add</a></p>





<!-- <b>New Email Added</b> {{email}} -->